{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://pg-sandbox.paymaya.com",
      "description": "Sandbox"
    },
    {
      "url": "https://pg.paymaya.com",
      "description": "Production"
    }
  ],
  "info": {
    "version": "1.0.0",
    "title": "PayMaya Checkout",
    "termsOfService": "https://developers.paymaya.com/terms",
    "contact": {
      "name": "PayMaya Product Engineering - Payments Services Engineering",
      "email": "PaymentsServicesEngineering@paymaya.com",
      "url": "https://enterprise.paymaya.com"
    },
    "x-logo": {
      "url": "https://cdn.paymaya.com/production/devportal/www/images/Logo_Header_v2.png",
      "altText": "PayMaya Developers"
    },
    "description": "# PayMaya Payment Gateway - Checkout\n\n## API Authentication\nAuthentication is done via HTTP Basic Authentication. Depending on the API, the public / secret key must be provided as the username and the password left as blank.\n\nSteps are as follows:\n1.  Combine Username and Password (left blank) separated by ‘:’ (colon). If your API key is “pk-Z0OSzLvIcOI2UIvDhdTGVVfRSSeiGStnceqwUE7n0Ah”, the resulting string is:\n\n```no-highlight\npk-Z0OSzLvIcOI2UIvDhdTGVVfRSSeiGStnceqwUE7n0Ah:\n```\n\n2.  Apply Base64 encoding to the resulting string from Step 1. Using the resulting string from Step 1, the Base64 encoded string will be:\n\n```no-highlight\ncGstWjBPU3pMdkljT0kyVUl2RGhkVEdWVmZSU1NlaUdTdG5jZXF3VUU3bjBBaDo=\n```\n\n3.  Indicate the authorization method i.e. “Basic” followed by a space then the Base64 encoded string in Step 2. An example is shown below.\n\n```no-highlight\nAuthorization: Basic cGstWjBPU3pMdkljT0kyVUl2RGhkVEdWVmZSU1NlaUdTdG5jZXF3VUU3bjBBaDo=\n```\n\n(see [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication))\n\n## Environment Setup\nPayMaya Payment Gateway has two environments:\n**Sandbox** and **Production**.\n\n**Sandbox** is used for development, testing and integration. Once integration is completed on this environment it will be verified by our Merchant Services team. Only then will production credentials be provided. \n##### Sandbox Url: https://pg-sandbox.paymaya.com\n\n> Load testing is not allowed on both environments. If you have need for load testing please contact us.\n\n**Production** is for live payments. Testing in this environment will incur real charges\n##### Production Url: https://pg.paymaya.com\n\n## Sandbox Test Credentials\n\n| MERCHANT NAME | SECRET API KEY | PUBLIC API KEY SERVICE\n|-|-|-\n| Sandbox Party 1 | sk-X8qolYjy62kIzEbr0QRK1h4b4KDVHaNcwMYk39jInSl | pk-Z0OSzLvIcOI2UIvDhdTGVVfRSSeiGStnceqwUE7n0Ah |\n| Sandbox Party 2 | sk-KfmfLJXFdV5t1inYN8lIOwSrueC1G27SCAklBqYCdrU | pk-eo4sL393CWU5KmveJUaW8V730TTei2zY8zE4dHJDxkF | \n| Sandbox Party 3 | sk-fzukI3GXrzNIUyvXY3n16cji8VTJITfzylz5o5QzZMC | pk-lNAUk1jk7VPnf7koOT1uoGJoZJjmAxrbjpj6urB8EIA | \n| Sandbox Party 4 | sk-VGDKY3P90NYZZ0kSWqBFaD1NTIXQCxtdS7SbQXvcA4g | pk-yaj6GVzYkce52R193RIWpuRR5tTZKqzBWsUeCkP9EAf | \n| Sandbox Party 5 | sk-8MqXdZYWV9UJB92Mc0i149CtzTWT7BYBQeiarM27iAi | pk-NCLk7JeDbX1m22ZRMDYO9bEPowNWT5J4aNIKIbcTy2a | \n\n> These sandbox credentials are for public use, and other users might be using them simultaneously. \n\n> Once you are onboarded with PayMaya you will be granted private access credentials, first in sandbox, then in production.\n\n## Sandbox Test Cards\n\n| CARD TYPE | NUMBER | EXPIRY MONTH | EXPIRY YEAR | CSC/CVV | 3-D Secure PASSWORD\n|-|-|-|-|-|-\n| MASTERCARD | 5123456789012346 | 12 | 2025 | 111 | Not enabled\n| MASTERCARD | 5453010000064154 | 12 | 2025 | 111 | secbarry1\n| VISA | 4123450131001381 | 12 | 2025 | 123 | mctest1\n| VISA | 4123450131001522 | 12 | 2025 | 123 | mctest1\n| VISA | 4123450131004443 | 12 | 2025 | 123 | mctest1\n| VISA | 4123450131000508 | 12 | 2025 | 111 | Not enabled\n\n> These test cards are for Sandbox use only! They will not work on Production. Live cards will also not work on Sandbox\n\n> For a full list of cards and additional test cases please refer [here](https://mock-processor-sandbox.paymaya.com/cards)\n\n## Checkout\n\nCheckout is a full page redirect payment acceptance. The checkout page can host more than one payment method in just one API call.\n\n### Payment Flow\n```mermaid\nsequenceDiagram\nCustomer ->> Merchant: Initiate Payment\n\nMerchant ->> Payment Gateway: Create Payment\nPayment Gateway -->> Merchant: Return redirectUrl\n\nMerchant -->> Customer: Redirect to webpage\nCustomer ->> Payment Gateway: Customer completes authentication\nPayment Gateway -->> Customer: Show status page\n\nalt Payment Confirmation\n    Customer ->> Merchant: Redirect back to Merchant\n    Merchant ->> Payment Gateway: Get Payment\n    Payment Gateway -->> Merchant: Returns\nelse\n    Payment Gateway ->> Merchant: Sends Webhook\nend\n```\n\n### Payment Statuses\n```mermaid\ngraph TD\nsubgraph Create \n    PT(PENDING_TOKEN)\n    PP(PENDING_PAYMENT)\nend\nsubgraph Authentication \n    FA(FOR_AUTHENTICATION)\n    AA(AUTHENTICATING)\n    AS(AUTH_SUCCESS)\n    AF(AUTH_FAILED)\nend\nsubgraph Processing \n    P(PAYMENT_PROCESSING)\n    PS(PAYMENT_SUCCESS)\n    PF(PAYMENT_FAILED)\nend\nsubgraph After Sales\n    VD(VOIDED)\n    RF(REFUNDED)\nend\nPE(PAYMENT_EXPIRED)\nPT --> PE\nPP --> PE\nFA --> PE\nAA --> PE\nPT --> PP\nPP --> FA\nFA --> AA\nAA --> AS\nAA --> AF\nAS --> P\nP --> PS\nP --> PF\nPS --> VD\nPS --> RF\n```\n> Payments expire 1 hour from Creation and 15 mins from Authentication start.\n\n**Authentication varies on the payment method used.**\n* Authentication for Card payments is done via 3D Secure. Customers are redirected to the card networks and/or the issuers web pages for authentication. Authentication challenges may vary per issuing bank.\n* Authentication for Pay With PayMaya is done via PayMaya login and one-time pin challenge.\n\n## Webhooks\n\nThe PayMaya Payment Gateway supports webhooks. A webhook (also called a web callback) is a way for an application to provide other applications with real-time information. With webhooks, PayMaya sends out payment-related information to the Merchant’s set of provided URLs for internal processing/audit.\n> The webhook will be triggered with an HTTP POST request with the content body equivalent to the Get Checkout API\n\n> Webhooks are environment specific. They must be registered again on Production.\n\nThe table below lists down the webhook names for PayMaya wallet payments listed according to the status of the payment transaction:\n\n|Webhook name|Payment status\n|-|-\n|CHECKOUT_SUCCESS|PAYMENT_SUCCESS\n|CHECKOUT_FAILURE|PAYMENT_FAILED\n|CHECKOUT_DROPOUT|PAYMENT_EXPIRED\n\nYou may register your webhook endpoints thru the Settings page on PayMaya Manager or via the Webhook APIs listed in this document.\n\nFor more details refer to the Webhook Guide and FAQ [here](https://hackmd.io/@paymaya-pg/WebhookFAQ)\n\n## Customizations\n\nThe PayMaya Payment Gateway supports customizations on select UI components. The following are the supported customizations:\n\n> Customizations are environment specific. They must be configured again on Production.\n\n|Customization Name|Parameter Name|Value|Description\n|-|-|-|-\n|Logo Url|logoUrl|Publicly accessible link to an image|Merchant logo to be displayed, Max height is 50px\n|Icon Url|iconUrl|Publicly accessible link to an image|Favicon. This is the small icon on the top of the browser page.\n|Apple Touch Icon Url|appleTouchIconUrl| Publicly accessible link to an image|Favicon* for Apple Touch, 120px x 120px image\n|Custom Title|customTitle|String|Changes the page title\n|Color Scheme|colorScheme|Hex color code|Changes the button color\n|Show Merchant Name|showMerchantName|true/false|Hides the Merchant Name underneath the logo. Use this if your logo already has your brand name\n|Hide Receipt|hideReceiptInput|true/false|Hides the online receipt sending panel on the result page\n|Redirect Timer|redirectTimer|Number between 3-30|Time in seconds before auto redirection on the result page\n|Skip Result Page|skipResultPage|true/false|If set to true will not display the PayMaya result page. After processing it will redirect back to the Merchant website.\n\n> Customizations only need to be setup once and not before every Checkout\n\nYou may register your customizations thru the Settings page on PayMaya Manager or via the APIs listed below"
  },
  "tags": [
    {
      "name": "Checkout",
      "description": "Checkout is a full page redirect payment acceptance. The checkout page can host more than one payment method in just one API call.\n\n## Payment Flow\n```mermaid\nsequenceDiagram\nCustomer ->> Merchant: Initiate Payment\n\nMerchant ->> Payment Gateway: Create Payment\nPayment Gateway -->> Merchant: Return redirectUrl\n\nMerchant -->> Customer: Redirect to webpage\nCustomer ->> Payment Gateway: Customer completes authentication\nPayment Gateway -->> Customer: Show status page\n\nalt Payment Confirmation\n  Customer ->> Merchant: Redirect back to Merchant\n  Merchant ->> Payment Gateway: Get Payment\n  Payment Gateway -->> Merchant: Returns\nelse\n  Payment Gateway ->> Merchant: Sends Webhook\nend\n```\n\n## Payment Statuses\n```mermaid\ngraph TD\nsubgraph Create \n  PT(PENDING_TOKEN)\n  PP(PENDING_PAYMENT)\nend\nsubgraph Authentication \n  FA(FOR_AUTHENTICATION)\n  AA(AUTHENTICATING)\n  AS(AUTH_SUCCESS)\n  AF(AUTH_FAILED)\nend\nsubgraph Processing \n  P(PAYMENT_PROCESSING)\n  PS(PAYMENT_SUCCESS)\n  PF(PAYMENT_FAILED)\nend\nsubgraph After Sales\n  VD(VOIDED)\n  RF(REFUNDED)\nend\nPE(PAYMENT_EXPIRED)\nPT --> PE\nPP --> PE\nFA --> PE\nAA --> PE\nPT --> PP\nPP --> FA\nFA --> AA\nAA --> AS\nAA --> AF\nAS --> P\nP --> PS\nP --> PF\nPS --> VD\nPS --> RF\n```\n> Payments expire 1 hour from Creation and 15 mins from Authentication start.\n\n## Authentication for varies on the payment method used.\n* Authentication for Card payments is done via 3dsecure. Web pages redirected to belong to the card issuer. Authentication challenges may vary.\n* Authentication for Pay With PayMaya is done via PayMaya login and one-time pin challenge."
    },
    {
      "name": "Payments Info",
      "description": "Set of APIs used to retrieve payment information."
    },
    {
      "name": "Webhooks",
      "description": "Usage of webhooks for payments."
    },
    {
      "name": "Voids",
      "description": "Full reversal of payments (same-day)"
    },
    {
      "name": "Refunds",
      "description": "Partial or full reversal of payment (next-day)"
    },
    {
      "name": "Cancel Payment",
      "description": "Cancel a pending transaction.\n\n## Cancel Payment Status\n\n```mermaid\ngraph TD\nPENDING_TOKEN --> PAYMENT_CANCELLED\nPENDING_TOKEN --> PENDING_PAYMENT\nPENDING_PAYMENT --> PAYMENT_CANCELLED\n```\n\n## Cancel Payment Webhooks\n\n`PAYMENT_CANCELLED` All cancelled payments will fire the `PAYMENT_CANCELLED` webhook.\n\n`CHECKOUT_CANCELLED` If the transaction cancelled is a Checkout transaction, it will fire the `CHECKOUT_CANCELLED` webhook. If you have a `PAYMENT_CANCELLED` webhook registered, it will also be fired.\n"
    },
    {
      "name": "Customizations",
      "description": "Merchant customizations on select UI components"
    },
    {
      "name": "Errors",
      "description": "## API Authentication Errors\n\nThe following is a list of errors returned by PayMaya regarding the API keys used by the merchant.\n\n| Name | HTTP Status Code | Error Code | Error Message |\n| --- | --- | --- | --- |\n| MISSING_AUTHENTICATION_HEADER | 401 | K001 | “Kindly include a Base64 encoded key in the basic authentication header.” |\n| KEY_EXPIRED | 401 | K002 | “Please generate a new key.” |\n| INVALID_API_KEY | 401 | K003 | “Invalid authentication credentials. Kindly verify if the key you are using is correct.” |\n| INVALID_KEY_TYPE | 401 | K004<br>K005 | “Please use secret / public key instead.” |\n| INVALID_AUTHORIZATION_HEADER | 401 | K006 | “Key provided is not a valid Base64 encoded key.” |\n| INVALID_KEY_SCOPE | 401 | K007 | “Please check the provided key’s scopes.” |\n| INTERNAL_AUTHENTICATION_ERROR | 400 | K999 | “Please contact PayMaya support.” |\n\n## Operational Errors\n\nThe schema specification for the error list in this section follows the following:\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ErrorGeneric\" exampleRef=\"#/components/examples/2553-ValidationError\"/>\n\n| Name | HTTP Status Code | Error Code | Error Message |\n| --- | --- | --- | --- |\n| MISSING_INVALID_PARAMS | 400 | 2553<br>PYBY0001 | Missing/invalid parameters. |\n| INTERNAL_SERVER_ERROR | 400 | PY0001<br>PY0066<br>PY0067<br>PYBY0012<br>PYBY9999 | A problem is encountered. Please contact your system administrator. |\n| CARD_EXPIRED_ERROR | 400 | PY0002 | Card is expired. |\n| CARD_INVALID_ERROR | 400 | PY0003 | Card is invalid. |\n| PAYMENT_TOKEN_EXPIRED_OR_USED | 400 | PY0007 | Invalid token status. |\n| PAYMENT_TOKEN_NOT_FOUND | 400 | PY0008 | Token is invalid. |\n| PAYMENT_DOES_NOT_EXIST | 404 | PY0009<br>PYBY0002 | Payment does not exist. |\n| FAILED_TO_PROCESS_PAYMENT | 400 | PY0010 | Failed to process payment. |\n| CARD_VAULT_UNREACHABLE | 400 | PY0013 | Card Vault server unreachable / timed out. |\n| CARD_VAULT_ERROR | 400 | PY0014 | Card Vault service error. |\n| PROCESSOR_SERVER_UNREACHABLE | 400 | PY0015 | Payment processor server unreachable / timed out. |\n| PROCESSOR_SERVER_ERROR | 400 | PY0016 | Payment processor service error. |\n| MERCHANT_NOT_FOUND | 404 | PY0017<br>PYBY0003 | Merchant not found. |\n| MERCHANT_FORBIDDEN | 401 | PY0019<br>PYBY0004 | Forbidden. |\n| MERCHANT_REQUIRED | 400 | PY0020 | Merchant is required. |\n| FAILED_TO_ADD_CUSTOMER | 400 | PY0021 | Failed to add customer. |\n| CUSTOMER_DOES_NOT_EXIST | 404 | PY0023 | Customer does not exist. |\n| FAILED_TO_DELETE_CUSTOMER | 400 | PY0024 | Failed to delete customer. |\n| FAILED_TO_UPDATE_CUSTOMER | 400 | PY0025 | Failed to update customer details. |\n| FAILED_TO_UPDATE_CARD | 400 | PY0026 | Failed to update card details. |\n| CARD_DOES_NOT_EXIST | 404 | PY0027 | Card does not exist. |\n| FAILED_TO_DELETE_CARD | 400 | PY0028 | Failed to delete card. |\n| NO_CARD_FOUND | 400 | PY0029 | No card found for customer. |\n| CARD_TOKEN_INVALID_STATUS | 400 | PY0030 | Invalid card token status. |\n| FAILED_TO_ADD_CARD | 400 | PY0035 | Failed to add card to customer. |\n| CARD_NOT_SUPPORTED_ERROR | 400 | PY0036 | Card is not supported. |\n| CURRENCY_NOT_SUPPORTED_ERROR | 400 | PY0037 | Currency is not supported. |\n| WEBHOOK_DOES_NOT_EXIST | 404 | PY0038 | Webhook does not exist. |\n| WEBHOOK_ALREADY_EXISTS | 400 | PY0039 | Webhook already exists. |\n| CHECKOUT_SERVER_ERROR | 400 | PY0041 | A problem is encountered. Please contact your system administrator. |\n| SUBSCRIPTION_CANNOT_CHARGE | 400 | PY0042 | Charging of subscription is not applicable. |\n| CARD_ALREADY_EXISTS | 400 | PY0043 | Card already exists. |\n| PAYMENT_INVALID | 400 | PY0044 | Payment is invalid. |\n| INVALID_VOID_REQUEST | 400 | PY0045 | Payment is not available for void. |\n| REFUND_DOES_NOT_EXIST | 404 | PY0046 | Refund does not exist. |\n| INELIGIBLE_FOR_REFUND | 401 | PY0047 | Payment is ineligible for refund. |\n| INVALID_REFUND_AMOUNT | 400 | PY0048 | Requested refund amount is greater than the original amount. |\n| SUBSCRIPTION_DOES_NOT_EXIST | 404 | PY0049 | Subscription does not exist. |\n| FAILED_TO_ADD_SUBSCRIPTION | 400 | PY0050 | Failed to add subscription to card. |\n| FAILED_TO_UPDATE_SUBSCRIPTION | 400 | PY0051 | Failed to update subscription details. |\n| FAILED_TO_CANCEL_SUBSCRIPTION | 400 | PY0052 | Failed to cancel subscription. |\n| MERCHANT_ALREADY_EXISTS | 400 | PY0053 | Merchant already exists. |\n| SUBSCRIPTION_ALREADY_CHARGED | 400 | PY0054 | Subscription already charged. |\n| FAILED_DELETE_MERCHANT | 400 | PY0056 | Failed to delete merchant. |\n| PAYMENT_EXPIRED | 422 | PY0057 | The Payment has expired and cannot be processed. |\n| MERCHANT_CANNOT_P2M | 403 | PY0058 | The merchant indicated does not have P2M services enabled. |\n| CUSTOMER_VAULT_UNREACHABLE | 400 | PY0059 | Customer Vault server unreachable / timed out. |\n| CUSTOMER_VAULT_ERROR | 400 | PY0060 | Customer Vault service error. |\n| VOID_NOT_FOUND | 404 | PY0063 | Void does not exist. |\n| MERCHANT_NOT_CUSTOMIZED | 404 | PY0065 | This merchant has no customizations present. |\n| AUTH_FAILURE | 400 | PY0068 | Payment not executed due to authorization failure. |\n| AUTH_SERVER_UNREACHABLE | 400 | PY0069 | Authentication server unreachable / timed out. |\n| SCHEME_UNSUPPORTED_BY_MERCHANT | 400 | PY0070 | Scheme is unsupported by merchant |\n| PROCESSOR_MISMATCH_ERROR | 400 | PY0071 | Payment mismatch with Merchant. |\n| REFUND_CUTOFF | 400 | PY0072 | Transaction cannot be processed. Cannot refund a transaction before cut off time. |\n| VOID_CUTOFF | 400 | PY0073 | Transaction cannot be processed. Cannot void a transaction after cut off time. |\n| TERMINAL_DOES_NOT_EXIST | 404 | PY0074 | Terminal does not exist. |\n| BATCH_NOT_FOUND | 404 | PY0075 | Batch not found |\n| PAYMENT_ALREADY_EXISTS | 400 | PY0076 | Payment already exists. |\n| PAYMENT_TOKEN_ALREADY_EXISTS | 400 | PY0077 | Payment Token already exists. |\n| BATCH_STARTED | 400 | PY0078 | Batch has already started. |\n| NO_AUTHORIZED_PAYMENTS_IN_BATCH | 400 | PY0079 | Batch does not contain any payments. |\n| PAYMENT_DETAILS_MISMATCH | 400 | PY0080 | Payment details do not match. |\n| BATCH_NOT_FOR_RECON | 400 | PY0081 | Batch is not available for reconciliation. |\n| TERMINAL_PARTY_EXISTS | 400 | PY0083 | Terminal party id already exists. |\n| TERMINAL_MERCHANT_PROCESSOR_EXISTS | 400 | PY0084 | Terminal processor id already exists. |\n| CANNOT_VOID_TERMINAL_AUTHORIZED_PAYMENT | 400 | PY0085 | Authorized payment must be voided from terminal. |\n| CANNOT_VOID_CAPTURED_PAYMENT_IN_TERMINAL | 400 | PY0086 | Void unavailable in terminal. Please contact your administrator. |\n| CARD_ALREADY_PROVIDED | 400 | PY0088 | Card data already provided. |\n| NO_CARD_PROVIDED | 400 | PY0089 | No card data provided. |\n| RRN_NOT_UNIQUE | 400 | PY0104 | Reference number is linked to multiple payments. |\n| INSUFFICIENT_BALANCE | 400 | PY0105 | Account has insufficient balance to perform this transaction. |\n| PARTIAL_REFUND_NOT_ALLOWED | 200 | PY0113 | Partial refund is not allowed for this transaction. |\n| BIN_ERROR | 400 | PY0117 | Card is invalid. |\n| ISSUER_DECLINE_CARD_ACCOUNT | 400 | PY0119 | Issuer declined card or account. |\n| ISSUER_DECLINE_GENERIC | 400 | PY0120 | Issuer decline. |\n| ISSUER_DECLINE_EXPIRED | 400 | PY0121 | Card is expired. |\n| ISSUER_SYSTEM_DOWN | 400 | PY0122 | Issuer system is unavailable. |\n| ACCOUNT_LIMIT | 400 | PY0123 | Account limit exceeded. |\n| VERIFICATION_FAILED | 400 | PY0124 | Transaction could not be verified. |\n| PIN_ERROR | 400 | PY0125 | PIN is invalid or incorrect. |\n| ACTIVE_TERMINAL_DOES_NOT_EXIST | 400 | PY0999 | No active terminal exists. |\n| FAILED_TO_DEACTIVATE_TERMINAL | 400 | PY0999 | Failed to deactivate terminal. |\n| MISSING_CP_PARAMS | 400 | PY9999 | Missing/invalid parameters. |\n| DIRECTPAYMENT_DOES_NOT_EXIST | 400 | PY9999 | Direct Payment does not exist. |\n| PAYBY_SERVER_ERROR | 400 | PYBY0001 | A problem is encountered. Please contact your system  |\n| PAYMAYA_CONNECT_ERROR | 400 | PYBY0005 | PayMaya Issuing or Connect service error. |\n| PAYMENT_VAULT_ERROR | 400 | PYBY0006 | Payment Vault service error. |\n| CURRENCY_MISMATCH | 400 | PYBY0007 | Payment currency does not match the user account currency. |\n| INSUFFICIENT_BALANCE | 400 | PYBY0008 | Account has insufficient balance to perform this transaction. |\n| WALLET_NOT_FOUND | 404 | PYBY0009 | Wallet does not exist. |\n| WALLET_IS_INACTIVE | 400 | PYBY0010 | Wallet is inactive or deleted from the system and cannot be used for this transaction. |\n| PAYMENT_EXPIRED | 400 | PYBY0011 | Payment has expired and cannot be processed. |\n| WALLET_EXISTS | 400 | PYBY0013 | Wallet has already been created. Please create a new one. |\n\n"
    }
  ],
  "paths": {
    "/checkout/v1/checkouts": {
      "post": {
        "tags": [
          "Checkout"
        ],
        "summary": "Create Checkout",
        "description": "Creates a checkout transaction.\n\n> **For Kount Merchants**:\nIf you require the customer to enter its full details on the checkout page,\nthe buyer information may be **optionally** provided in the request body of the API.\n",
        "security": [
          {
            "publicKey": []
          }
        ],
        "operationId": "createV1Checkout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "totalAmount",
                  "requestReferenceNumber"
                ],
                "properties": {
                  "totalAmount": {
                    "type": "object",
                    "title": "Total Amount",
                    "required": [
                      "value",
                      "currency"
                    ],
                    "description": "Contains the value and currency of the transaction.",
                    "properties": {
                      "value": {
                        "type": "number",
                        "format": "float",
                        "minimum": 0.01,
                        "maximum": 9999999,
                        "description": "Amount of the transaction."
                      },
                      "currency": {
                        "type": "string",
                        "minLength": 3,
                        "maxLength": 3,
                        "description": "[ISO 4217 Alpha-3](https://www.iso.org/iso-4217-currency-codes.html) currency code\n",
                        "example": "PHP"
                      }
                    }
                  },
                  "buyer": {
                    "type": "object",
                    "title": "Buyer",
                    "description": "Contains personal information regarding the buyer/payer of the transaction. By default, all information are optional (i.e. use `Basic Buyer` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Buyer` specification.\n",
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "Basic Buyer",
                        "allOf": [
                          {
                            "type": "object",
                            "title": "Buyer",
                            "description": "Contains personal information regarding the buyer/payer of the transaction.",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "First name of the payer/buyer.",
                                "minLength": 1,
                                "maxLength": 1000
                              },
                              "middleName": {
                                "type": "string",
                                "description": "Middle name of the payer/buyer.",
                                "minLength": 1,
                                "maxLength": 1000
                              },
                              "lastName": {
                                "type": "string",
                                "description": "Last name of the payer/buyer.",
                                "minLength": 1,
                                "maxLength": 1000
                              },
                              "birthday": {
                                "type": "string",
                                "format": "date",
                                "description": "Birthday in [ISO 8601 / RFC 3339 full-date format](https://tools.ietf.org/html/rfc3339#section-5.6)."
                              },
                              "customerSince": {
                                "type": "string",
                                "format": "date",
                                "description": "Date in [ISO 8601 / RFC 3339 full-date format](https://tools.ietf.org/html/rfc3339#section-5.6) when payer/buyer registered as a customer as per merchant's records."
                              },
                              "sex": {
                                "type": "string",
                                "enum": [
                                  "M",
                                  "F"
                                ],
                                "description": "Biological sex."
                              },
                              "contact": {
                                "type": "object",
                                "title": "Contact Details",
                                "description": "Contact details like phone and/or email address.",
                                "properties": {
                                  "phone": {
                                    "type": "string",
                                    "format": "phone",
                                    "minLength": 1,
                                    "maxLength": 1000,
                                    "description": "Contact phone number."
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email",
                                    "minLength": 5,
                                    "maxLength": 1000,
                                    "description": "Contact e-mail address."
                                  }
                                }
                              },
                              "billingAddress": {
                                "type": "object",
                                "title": "Billing Address",
                                "description": "Contains billing information of the payer/buyer. By default, all information are optional (i.e. use `Basic Billing Address` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Billing Address` specification.\n",
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "title": "Basic Billing Address",
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "title": "Kount Billing Address",
                                    "required": [
                                      "countryCode"
                                    ],
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              },
                              "shippingAddress": {
                                "type": "object",
                                "title": "Shipping Address",
                                "description": "Contains shipment information including name of the person identified to receive the purchase order. By default, all information are optional (i.e. use `Basic Shipping Address` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Shipping Address` specification.\n",
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "title": "Basic Shipping Address",
                                    "description": "Contains shipment information including name of the person identified to receive the purchase order.",
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "firstName": {
                                            "type": "string",
                                            "description": "First name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Maya"
                                          },
                                          "middleName": {
                                            "type": "string",
                                            "description": "Middle name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Jose"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "Last name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Juan"
                                          },
                                          "phone": {
                                            "type": "string",
                                            "format": "phone",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "description": "Contact phone number."
                                          },
                                          "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 5,
                                            "maxLength": 1000,
                                            "description": "Contact e-mail address."
                                          },
                                          "shippingType": {
                                            "type": "string",
                                            "enum": [
                                              "ST",
                                              "SD"
                                            ],
                                            "description": "* `ST` - Standard shipping\n* `SD` - Same-day shipping\n"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "title": "Kount Shipping Address",
                                    "description": "Contains shipment information including name of the person identified to receive the purchase order.",
                                    "required": [
                                      "countryCode"
                                    ],
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "firstName": {
                                            "type": "string",
                                            "description": "First name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Maya"
                                          },
                                          "middleName": {
                                            "type": "string",
                                            "description": "Middle name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Jose"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "Last name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Juan"
                                          },
                                          "phone": {
                                            "type": "string",
                                            "format": "phone",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "description": "Contact phone number."
                                          },
                                          "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 5,
                                            "maxLength": 1000,
                                            "description": "Contact e-mail address."
                                          },
                                          "shippingType": {
                                            "type": "string",
                                            "enum": [
                                              "ST",
                                              "SD"
                                            ],
                                            "description": "* `ST` - Standard shipping\n* `SD` - Same-day shipping\n"
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          }
                        ]
                      },
                      {
                        "type": "object",
                        "title": "Kount Buyer",
                        "required": [
                          "firstName",
                          "lastName",
                          "contact",
                          "billingAddress",
                          "shippingAddress"
                        ],
                        "allOf": [
                          {
                            "type": "object",
                            "title": "Buyer",
                            "description": "Contains personal information regarding the buyer/payer of the transaction.",
                            "properties": {
                              "firstName": {
                                "type": "string",
                                "description": "First name of the payer/buyer.",
                                "minLength": 1,
                                "maxLength": 1000
                              },
                              "middleName": {
                                "type": "string",
                                "description": "Middle name of the payer/buyer.",
                                "minLength": 1,
                                "maxLength": 1000
                              },
                              "lastName": {
                                "type": "string",
                                "description": "Last name of the payer/buyer.",
                                "minLength": 1,
                                "maxLength": 1000
                              },
                              "birthday": {
                                "type": "string",
                                "format": "date",
                                "description": "Birthday in [ISO 8601 / RFC 3339 full-date format](https://tools.ietf.org/html/rfc3339#section-5.6)."
                              },
                              "customerSince": {
                                "type": "string",
                                "format": "date",
                                "description": "Date in [ISO 8601 / RFC 3339 full-date format](https://tools.ietf.org/html/rfc3339#section-5.6) when payer/buyer registered as a customer as per merchant's records."
                              },
                              "sex": {
                                "type": "string",
                                "enum": [
                                  "M",
                                  "F"
                                ],
                                "description": "Biological sex."
                              },
                              "contact": {
                                "type": "object",
                                "title": "Contact Details",
                                "description": "Contact details like phone and/or email address.",
                                "properties": {
                                  "phone": {
                                    "type": "string",
                                    "format": "phone",
                                    "minLength": 1,
                                    "maxLength": 1000,
                                    "description": "Contact phone number."
                                  },
                                  "email": {
                                    "type": "string",
                                    "format": "email",
                                    "minLength": 5,
                                    "maxLength": 1000,
                                    "description": "Contact e-mail address."
                                  }
                                }
                              },
                              "billingAddress": {
                                "type": "object",
                                "title": "Billing Address",
                                "description": "Contains billing information of the payer/buyer. By default, all information are optional (i.e. use `Basic Billing Address` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Billing Address` specification.\n",
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "title": "Basic Billing Address",
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "title": "Kount Billing Address",
                                    "required": [
                                      "countryCode"
                                    ],
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              },
                              "shippingAddress": {
                                "type": "object",
                                "title": "Shipping Address",
                                "description": "Contains shipment information including name of the person identified to receive the purchase order. By default, all information are optional (i.e. use `Basic Shipping Address` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Shipping Address` specification.\n",
                                "oneOf": [
                                  {
                                    "type": "object",
                                    "title": "Basic Shipping Address",
                                    "description": "Contains shipment information including name of the person identified to receive the purchase order.",
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "firstName": {
                                            "type": "string",
                                            "description": "First name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Maya"
                                          },
                                          "middleName": {
                                            "type": "string",
                                            "description": "Middle name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Jose"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "Last name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Juan"
                                          },
                                          "phone": {
                                            "type": "string",
                                            "format": "phone",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "description": "Contact phone number."
                                          },
                                          "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 5,
                                            "maxLength": 1000,
                                            "description": "Contact e-mail address."
                                          },
                                          "shippingType": {
                                            "type": "string",
                                            "enum": [
                                              "ST",
                                              "SD"
                                            ],
                                            "description": "* `ST` - Standard shipping\n* `SD` - Same-day shipping\n"
                                          }
                                        }
                                      }
                                    ]
                                  },
                                  {
                                    "type": "object",
                                    "title": "Kount Shipping Address",
                                    "description": "Contains shipment information including name of the person identified to receive the purchase order.",
                                    "required": [
                                      "countryCode"
                                    ],
                                    "allOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "line1": {
                                            "type": "string",
                                            "description": "Address Line 1.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "line2": {
                                            "type": "string",
                                            "description": "Address Line 2.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "city": {
                                            "type": "string",
                                            "description": "City",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "state": {
                                            "type": "string",
                                            "description": "State / Province.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "zipCode": {
                                            "type": "string",
                                            "description": "Zip / Postal code.",
                                            "minLength": 1,
                                            "maxLength": 1000
                                          },
                                          "countryCode": {
                                            "type": "string",
                                            "minLength": 2,
                                            "maxLength": 2,
                                            "description": "[ISO 3166 alpha-2](https://www.iso.org/iso-3166-country-codes.html) notation of the country.\n"
                                          }
                                        }
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "firstName": {
                                            "type": "string",
                                            "description": "First name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Maya"
                                          },
                                          "middleName": {
                                            "type": "string",
                                            "description": "Middle name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Jose"
                                          },
                                          "lastName": {
                                            "type": "string",
                                            "description": "Last name of the recipient.",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "example": "Juan"
                                          },
                                          "phone": {
                                            "type": "string",
                                            "format": "phone",
                                            "minLength": 1,
                                            "maxLength": 1000,
                                            "description": "Contact phone number."
                                          },
                                          "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 5,
                                            "maxLength": 1000,
                                            "description": "Contact e-mail address."
                                          },
                                          "shippingType": {
                                            "type": "string",
                                            "enum": [
                                              "ST",
                                              "SD"
                                            ],
                                            "description": "* `ST` - Standard shipping\n* `SD` - Same-day shipping\n"
                                          }
                                        }
                                      }
                                    ]
                                  }
                                ]
                              }
                            }
                          }
                        ]
                      }
                    ]
                  },
                  "items": {
                    "type": "array",
                    "description": "Contains a list of item information.\n",
                    "items": {
                      "title": "Item",
                      "type": "object",
                      "required": [
                        "name",
                        "totalAmount"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "Name of the item."
                        },
                        "quantity": {
                          "type": "string",
                          "format": "numeric",
                          "description": "Quantity of the item."
                        },
                        "code": {
                          "type": "string",
                          "description": "Item code (e.g. stock-keepin unit code or SKU) in the merchant's inventory."
                        },
                        "description": {
                          "type": "string",
                          "description": "Additional description of the item (e.g. color, variant)"
                        },
                        "amount": {
                          "type": "object",
                          "description": "Amount details per 1 item.",
                          "required": [
                            "value"
                          ],
                          "properties": {
                            "value": {
                              "description": "Amount of 1 item quantity.",
                              "allOf": [
                                {
                                  "type": "number",
                                  "format": "float",
                                  "minimum": 0.01,
                                  "maximum": 9999999,
                                  "description": "Amount of the transaction."
                                }
                              ]
                            },
                            "details": {
                              "description": "Amount breakdown of 1 item quantity.",
                              "allOf": [
                                {
                                  "title": "Amount Details",
                                  "type": "object",
                                  "properties": {
                                    "subtotal": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Subtotal value before applying discounts or additional fees."
                                    },
                                    "discount": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Discount applied on the relevant amount value."
                                    },
                                    "serviceCharge": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Service charge applied on the relevant amount value."
                                    },
                                    "shippingFee": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Shipping fee on the relevant amount value."
                                    },
                                    "tax": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Tax on the relevant amount value."
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        },
                        "totalAmount": {
                          "type": "object",
                          "description": "Amount details all quantity.",
                          "required": [
                            "value"
                          ],
                          "properties": {
                            "value": {
                              "description": "Amount of all quantity",
                              "allOf": [
                                {
                                  "type": "number",
                                  "format": "float",
                                  "minimum": 0.01,
                                  "maximum": 9999999,
                                  "description": "Amount of the transaction."
                                }
                              ]
                            },
                            "details": {
                              "description": "Amount breakdown of all quantity.",
                              "allOf": [
                                {
                                  "title": "Amount Details",
                                  "type": "object",
                                  "properties": {
                                    "subtotal": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Subtotal value before applying discounts or additional fees."
                                    },
                                    "discount": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Discount applied on the relevant amount value."
                                    },
                                    "serviceCharge": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Service charge applied on the relevant amount value."
                                    },
                                    "shippingFee": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Shipping fee on the relevant amount value."
                                    },
                                    "tax": {
                                      "type": "string",
                                      "format": "numeric",
                                      "description": "Tax on the relevant amount value."
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "redirectUrl": {
                    "type": "object",
                    "title": "Redirect URLs",
                    "description": "Contains a list of redirect URLs of the merchant for specific events.",
                    "properties": {
                      "success": {
                        "type": "string",
                        "format": "url",
                        "description": "URL to redirect to when the payment is successfully completed."
                      },
                      "failure": {
                        "type": "string",
                        "format": "url",
                        "description": "URL to redirect to when the payment fails."
                      },
                      "cancel": {
                        "type": "string",
                        "format": "url",
                        "description": "URL to redirect to when the payment is cancelled by the payer/buyer."
                      }
                    }
                  },
                  "requestReferenceNumber": {
                    "title": "Merchant Request Reference Number",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 36,
                    "description": "The merchant's reference number for the transaction. It is strongly advised that the merchant provide unique value for this property for each transaction."
                  },
                  "metadata": {
                    "title": "Metadata",
                    "type": "object",
                    "description": "Used to provide additional data to the transaction such a payment faciliator information.",
                    "properties": {
                      "subMerchantRequestReferenceNumber": {
                        "title": "Sub-merchant Request Reference Number",
                        "type": "string",
                        "format": "alphanumeric, dash, space, hyphen, underscore",
                        "minLength": 1,
                        "maxLength": 36,
                        "description": "Reference number of the sub-merchant for the related transaction"
                      },
                      "pf": {
                        "title": "Payment Facilitator",
                        "type": "object",
                        "description": "For a payment facilitator, this provides details regarding the sub-merchant.",
                        "required": [
                          "smi",
                          "smn",
                          "mci",
                          "mpc",
                          "mco"
                        ],
                        "properties": {
                          "smi": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 30,
                            "description": "Sub-merchant ID."
                          },
                          "smn": {
                            "type": "string",
                            "format": "alphanumeric, hyphen, space, apostrophe, comma, period, hyphen",
                            "minLength": 1,
                            "maxLength": 64,
                            "description": "Sub-merchant name."
                          },
                          "mci": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 13,
                            "description": "Sub-merchant city location."
                          },
                          "mpc": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 3,
                            "description": "[ISO 4217 Numeric](https://www.iso.org/iso-4217-currency-codes.html) currency code.\n"
                          },
                          "mco": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 3,
                            "description": "[ISO 3166 Alpha-3](https://www.iso.org/iso-3166-country-codes.html) country code.\n"
                          },
                          "mst": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 3,
                            "description": "Sub-merchant abbreviated state location (required if country is USA)."
                          },
                          "mcc": {
                            "type": "string",
                            "format": "numeric",
                            "minLength": 1,
                            "maxLength": 15,
                            "description": "[ISO 18245](https://www.iso.org/standard/33365.html) merchant category code.\n"
                          },
                          "postalCode": {
                            "type": "string",
                            "format": "alphanumeric, dash, space, hyphen, underscore",
                            "maxLength": 20,
                            "description": "Sub-merchant postal code"
                          },
                          "contactNo": {
                            "type": "string",
                            "format": "phone",
                            "maxLength": 20,
                            "description": "Contact number without spaces, dashes, or parentheses."
                          },
                          "state": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100,
                            "description": "Sub-merchant state location in full text."
                          },
                          "addressLine1": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 100,
                            "description": "Sub-merchant street address."
                          }
                        }
                      }
                    }
                  }
                }
              },
              "examples": {
                "CreateCheckoutRequest": {
                  "summary": "Create checkout request.",
                  "value": {
                    "totalAmount": {
                      "currency": "PHP",
                      "value": "1000",
                      "details": {
                        "discount": "100.00",
                        "serviceCharge": "0.00",
                        "shippingFee": "200.00",
                        "tax": "120.00",
                        "subtotal": "780.00"
                      }
                    },
                    "buyer": {
                      "firstName": "Francis",
                      "lastName": "Gonzales",
                      "contact": {
                        "phone": "+639180000123",
                        "email": "maya.juan@mail.com"
                      },
                      "shippingAddress": {
                        "firstName": "Maya",
                        "lastName": "Juan",
                        "phone": "+639180000123",
                        "email": "maya.juan@mail.com",
                        "shippingType": "SD",
                        "line1": "6F Launchpad",
                        "line2": "Reliance Street",
                        "city": "Mandaluyong City",
                        "state": "Metro Manila",
                        "zipCode": "1552",
                        "countryCode": "PH"
                      },
                      "billingAddress": {
                        "line1": "6F Launchpad",
                        "line2": "Reliance Street",
                        "city": "Mandaluyong City",
                        "state": "Metro Manila",
                        "zipCode": "1552",
                        "countryCode": "PH"
                      }
                    },
                    "items": [
                      {
                        "name": "Canvas Slip Ons",
                        "code": "CVG-096732",
                        "description": "Shoes",
                        "quantity": "1",
                        "amount": {
                          "value": "1000.00"
                        },
                        "totalAmount": {
                          "value": "1000.00"
                        }
                      }
                    ],
                    "redirectUrl": {
                      "success": "https://www.merchantsite.com/success?id=5fc10b93-bdbd-4f31-b31d-4575a3785009",
                      "failure": "https://www.mechantsite.com/failure?id=5fc10b93-bdbd-4f31-b31d-4575a3785009",
                      "cancel": "https://www.merchantsite.com/cancel?id=5fc10b93-bdbd-4f31-b31d-4575a3785009"
                    },
                    "requestReferenceNumber": "5fc10b93-bdbd-4f31-b31d-4575a3785009"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created Checkout object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkoutId": {
                      "type": "string",
                      "description": "Unique ID generated by PayMaya that denotes the Checkout payment record",
                      "example": "e14a62b9-4d28-43f5-bbc5-b2bfa1ff9b63"
                    },
                    "redirectUrl": {
                      "type": "string",
                      "description": "PayMaya hosted URL to process the Checkout payment. Merchant is expected to redirect the buyer to this URL when it is ready to accept the payment.",
                      "example": "https://payments-web-sandbox.paymaya.com/v2/checkout?id=e14a62b9-4d28-43f5-bbc5-b2bfa1ff9b63"
                    }
                  }
                },
                "examples": {
                  "CreateCheckoutResponse": {
                    "summary": "Create checkout response.",
                    "value": {
                      "checkoutId": "fa4da2ff-dcda-4367-a97d-0c9445147b73",
                      "redirectUrl": "https://payments-web-sandbox.paymaya.com/v2/checkout?id=fa4da2ff-dcda-4367-a97d-0c9445147b73"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/checkout/v1/checkouts/{checkoutId}": {
      "parameters": [
        {
          "name": "checkoutId",
          "in": "path",
          "description": "The unique identification string of the checkout transaction.",
          "required": true,
          "allowEmptyValue": false,
          "style": "simple",
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "example": "fa4da2ff-dcda-4367-a97d-0c9445147b73"
        }
      ],
      "get": {
        "tags": [
          "Checkout"
        ],
        "deprecated": true,
        "summary": "Retrieve Checkout Info",
        "description": "Retrieves information about the checkout transaction.\n\n> This API is **deprecated**. It is advised to use the APIs under the section [Payments Info](#tag/Payments-Info).\n",
        "security": [
          {
            "secretKey": []
          }
        ],
        "operationId": "getV1Checkout",
        "responses": {
          "200": {
            "description": "Successfully retrieved Checkout record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "title": "Checkout ID",
                      "type": "string",
                      "format": "uuid",
                      "description": "The unique identification of the checkout payment transaction."
                    },
                    "items": {
                      "type": "array",
                      "description": "Contains a list of item information.\n",
                      "items": {
                        "title": "Item",
                        "type": "object",
                        "required": [
                          "name",
                          "totalAmount"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of the item."
                          },
                          "quantity": {
                            "type": "string",
                            "format": "numeric",
                            "description": "Quantity of the item."
                          },
                          "code": {
                            "type": "string",
                            "description": "Item code (e.g. stock-keepin unit code or SKU) in the merchant's inventory."
                          },
                          "description": {
                            "type": "string",
                            "description": "Additional description of the item (e.g. color, variant)"
                          },
                          "amount": {
                            "type": "object",
                            "description": "Amount details per 1 item.",
                            "required": [
                              "value"
                            ],
                            "properties": {
                              "value": {
                                "description": "Amount of 1 item quantity.",
                                "allOf": [
                                  {
                                    "type": "number",
                                    "format": "float",
                                    "minimum": 0.01,
                                    "maximum": 9999999,
                                    "description": "Amount of the transaction."
                                  }
                                ]
                              },
                              "details": {
                                "description": "Amount breakdown of 1 item quantity.",
                                "allOf": [
                                  {
                                    "title": "Amount Details",
                                    "type": "object",
                                    "properties": {
                                      "subtotal": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Subtotal value before applying discounts or additional fees."
                                      },
                                      "discount": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Discount applied on the relevant amount value."
                                      },
                                      "serviceCharge": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Service charge applied on the relevant amount value."
                                      },
                                      "shippingFee": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Shipping fee on the relevant amount value."
                                      },
                                      "tax": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Tax on the relevant amount value."
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          },
                          "totalAmount": {
                            "type": "object",
                            "description": "Amount details all quantity.",
                            "required": [
                              "value"
                            ],
                            "properties": {
                              "value": {
                                "description": "Amount of all quantity",
                                "allOf": [
                                  {
                                    "type": "number",
                                    "format": "float",
                                    "minimum": 0.01,
                                    "maximum": 9999999,
                                    "description": "Amount of the transaction."
                                  }
                                ]
                              },
                              "details": {
                                "description": "Amount breakdown of all quantity.",
                                "allOf": [
                                  {
                                    "title": "Amount Details",
                                    "type": "object",
                                    "properties": {
                                      "subtotal": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Subtotal value before applying discounts or additional fees."
                                      },
                                      "discount": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Discount applied on the relevant amount value."
                                      },
                                      "serviceCharge": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Service charge applied on the relevant amount value."
                                      },
                                      "shippingFee": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Shipping fee on the relevant amount value."
                                      },
                                      "tax": {
                                        "type": "string",
                                        "format": "numeric",
                                        "description": "Tax on the relevant amount value."
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    "requestReferenceNumber": {
                      "title": "Merchant Request Reference Number",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 36,
                      "description": "The merchant's reference number for the transaction. It is strongly advised that the merchant provide unique value for this property for each transaction."
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp in UTC when the record is created."
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp in UTC when the record is last updated."
                    },
                    "expiredAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "The timestamp in UTC when the record expired."
                    },
                    "paymentScheme": {
                      "type": "string",
                      "enum": [
                        "master-card",
                        "visa",
                        "jcb",
                        "paypal",
                        "bancnet",
                        "wechat"
                      ],
                      "description": "Payment scheme. Only applicable for checkout transactions."
                    },
                    "expressCheckout": {
                      "type": "boolean",
                      "description": "Identifies if this record is an Express Checkout record."
                    },
                    "refundedAmount": {
                      "type": "number",
                      "format": "float",
                      "description": "Identifies the total amount already refunded for this record if `paymentStatus` == `REFUNDED`"
                    },
                    "canPayPal": {
                      "type": "boolean",
                      "description": "Identifies if PayPal is enabled as an acceptance method for this Checkout record"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "CREATED",
                        "PROCESSING",
                        "EXPIRED",
                        "COMPLETED"
                      ],
                      "example": "COMPLETED"
                    },
                    "paymentStatus": {
                      "title": "Payment States",
                      "type": "string",
                      "description": "Indicates the current state of the payment transaction.",
                      "enum": [
                        "PENDING_TOKEN",
                        "PENDING_PAYMENT",
                        "FOR_AUTHENTICATION",
                        "AUTHENTICATING",
                        "AUTH_NOT_ENROLLED",
                        "AUTH_SUCCESS",
                        "AUTH_FAILED",
                        "PAYMENT_SUCCESS",
                        "PAYMENT_FAILED",
                        "PAYMENT_PROCESSING",
                        "AUTHORIZED",
                        "PAYMENT_EXPIRED",
                        "PAYMENT_CANCELLED",
                        "PAYMENT_INVALID",
                        "VOIDED",
                        "REFUNDED",
                        "ACCOUNT_ABUSE",
                        "CAPTURED",
                        "DONE",
                        "CAPTURE_HOLD_EXPIRED"
                      ]
                    },
                    "paymentDetails": {
                      "description": "Transactions details from the payment processor."
                    },
                    "buyer": {
                      "type": "object",
                      "title": "Buyer",
                      "description": "Contains personal information regarding the buyer/payer of the transaction. By default, all information are optional (i.e. use `Basic Buyer` specification).\nHowever, If the merchant is enabled to use Kount fraud protection, they must use `Kount Buyer` specification.\n",
                      "oneOf": [
                        {
                          "type": "object",
                          "title": "Basic Buyer",
                          "allOf": [
                            {
                              "type": "object",
                              "title": "Buyer",
                              "description": "Contains personal information regarding the buyer/payer of the transaction.",
                              "properties": {
                                "firstName": {
                                  "type": "string",
                                  "description": "First name of the payer/buyer.",
                                  "minLength": 1,
                                  "maxLength": 1000
                                },
                                "middleName": {
                                  "type": "string",
                                  "description": "Middle name of the payer/buyer.",
                                  "minLength": 1,
                                  "maxLength": 1000
                                },
                                "lastName": {
                                  "type": "string",
                                  "description": "Last name of the payer/buyer.",
                                  "minLength": 1,
[...]
